.product{
    padding: 40px 0;
}

.box{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
h4{
    text-align: center;
}

.btn{
    text-align: center;
    background: rgb(94,0,0);
    border-radius: 50%;
    font-size: 12px;
    color: white;
    margin: 0;
}

.cart_btn{
    border-radius: 4px;
    background: rgb(94,0,0);
    color: white;
    font-weight: 700;
    font-size: 15px;
}



.content h4{
    margin-top: 10px;
}